* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.post {
    margin: auto;
    margin-top: 50px;
    height: 550px;
    width: 350px;
    overflow: hidden;
    background-color: white;
    border: solid 1px black;
}

.post-header {
    height: 60px;
}

.post-header div {
    display: inline-block;
}

.post-header > * {
    margin-top: 10px;
}

.post-header div p {
    margin: 0;
}

.a-fa-ellipsis-vertical {
    float: right;
    margin-right: 8px;
}

.fa-ellipsis-vertical {
    margin-top: 6px;
}

.a-fa-html5 {
    margin-left: 8px;
}

.post-img {
    height: 225px;
    display: block;
}

.post-image-container {
    display: flex;
    justify-content: center;
}

i:hover {
    cursor: pointer;
}

.fa-bookmark {
    float: right;
}

.font-awesome-img-icons {
    margin: 8px;
}

.font-awesome-img-icon {
    height: 20px;
}

.post-footer-p-container {
    margin: 40px 8px 5px 8px;
}
p {
    font-weight: 100;
}